@model IEnumerable<MyEnrollmentViewModel>

@{
    ViewData["Title"] = "My Enrollments";
}

<h1>My Enrollments</h1>
@if (TempData["ReviewExistsError"] != null)
{
    <div class="alert alert-warning">
        @TempData["ReviewExistsError"]
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Enrolled On</th>
            <th>Amount Paid</th>
            <th></th> <!-- For Details Link -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model)
        {
            <tr>
                <td>@enrollment.Title</td>
                <td>@enrollment.Description</td>
                <td>@enrollment.Teacher</td>
                <td>@enrollment.EnrollDate.ToString("MM/dd/yyyy")</td>
                <td>$@enrollment.Amount</td>
                <td>
                    <a asp-action="Details" asp-route-id="@enrollment.CourseId" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a asp-action="Review" asp-route-id="@enrollment.CourseId">Add Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
